@charset "UTF-8";
/* CSS Document */

body {
	background: #eee8dd;
}

.container {
	max-width: 800px;
	background: #fff;
	margin: 0 auto;
	font-family: 'Lora', serif;
	line-height: 1.4em;
	color: #3d1c17;
	position: relative;
}

.top {
	max-width: 800px;
	background: #fff;
	margin: 0 auto;
	font-family: 'Lora', serif;
	line-height: 1.4em;
	color: #3d1c17;
	position: relative;
}


a {
	color: #188acc;
}

h1, h2, h3 {
	font-weight: normal;
	font-size: 3em;
	line-height: 1em;
	margin-top: 20px;
}

h2 {
	font-size: 2em;
	padding: 0 0 20px 0;
}

h3 {
	font-size: 1.6em;
	color: #c05817;
	margin-bottom: 20px;
}

h4 {
	margin-bottom: 10px;
}

h5 {
	font-size: 0.8em;
}

h6 {
	margin-top: 20px;
  font-weight: bold;
}

p {
	margin-bottom: 20px;
}

hr {
	border: none;
	height: 4px;
	color: #eee8dd;
	background-color: #eee8dd;
	width: 100%;
	margin: 25px 0;
	clear: both;
}

.maincol {
	padding: 10px 25px;
}

.maincol p {
	text-align: justify;
}

.maincol p a strong {
	display: block;
	text-align: left;
}

a:active {
	pointer-events: none;
}

.comments p {
	background: #f7f6f3;
	padding: 20px;
	margin-bottom: 10px;
	font-style: italic;
	font-size: 0.9em;
}

p.button {
	background: #3d1c17;
	text-align: center;
	color: #fff;
	padding: 10px;
}

.footer {
	clear: both;
	padding-top: 20px;
	text-align: center;
	font-size: 0.8em;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.size {
	max-width: 100%;
}

.banner {
	float: left;
	clear: left;
	width: 620px;
	border-top: 1px solid #c9c7be;
	padding: 30px 25px;
}

.header {
	padding: 50px 50px;
}

#banner {
	background: #4B0082;
	color: #FFF;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 20px;
}

#banner em {
	font-size: calc(1em + 1.5vw);
	line-height: 1.4em;
	text-align: left;
	font-family: 'Josefin Slab';
	font-style: normal;
}

#navbar {
	margin-top: 20px;
	background: black;
	padding: 5px 10px;
}

@media screen and (min-width: 600px) {
	right {
	margin: 10px;
	float:right;
	}

left {
margin: 10px;
float: left;
}
}

right_fix {
  float:right;
	max-width: 100%;
	margin-bottom: 20px;
}

.rightcoltrue img {
	float: left;
	margin-right: 5px;
	margin-bottom: -5px;
}

minus_line h1 {
	margin-top: -10px;
}

@media screen and (max-width: 400px) {
	.rightcol img {
	margin: 0 auto ! important;
	float: none ! important;
	}
}

@media screen and (max-width: 980px) {
	.rightcol {
	text-align: justify;
	}
}
