/* Center carousel images */
body {
  width: 80%;
  margin-bottom: 50px;
  margin-left: 10%;

}


.back {
  margin-left: auto;
  margin-right: auto;
  background-color: #485563;
}

.text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ebebeb;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.42;
  text-align: justify;
}

h1.text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 39px;
}

.list-group-item {
  color: #ebebeb;
  background-color: #485563;
}

.dropdown-munu.back.show {
  background-color: white;
}

.mob {
  font-size: 15px;
  padding: 2px;
  float: none;
}

.centered {
  margin: 28px;
}

ul.nav {
  text-align: center;
}

.texted {
    font-size: 15px;
    white-space: nowrap;
    color: white;
    padding: 10px;
  }

a:hover {
  background-color: #485563;
  color: white
}


.nav-pills .nav-link.active {
  color: #ebebeb;
  background-color: #485563;
}

.nav-link.text.active {
  color: #ebebeb;
  background-color: #D0810A;
}

.nav-link.text.bt:hover {
  color: #ebebeb;
  background-color: #343a40;
}

.dropdown-item.active {
  background-color: #485563;
}

.dropdown-item.text.back:hover {
  background-color: #485563;
  color: #ebebeb;
}

a.nav-link.dropdown-toggle.text.active {
  background-color: #485563;
}

.padd {
  margin-left: 5%;
  margin-right: 5%;
}

.col-md-5 {
  padding-top: 20px;
}

.col-md-7 {
  padding-top: 20px;
}

.left-col .thumbnail {
  margin: 0 auto;
  margin-bottom: 20px;
}

a.carousel-control-next {
  width: 20px;
  height: 20px;
  padding-top: 45px;
}

a.carousel-control-prev {
  width: 20px;
  height: 20px;
  padding-top: 45px;
}

a.carousel-control-next:hover {
  background-color: inherit;
}

a.carousel-control-prev:hover {
  background-color: inherit;
}

ul.nav.centered {
  align-content: center;
}

.centre {
  margin: auto;
  width: 90%;
}

.centre li {
  display: inline-block;
}

@media (min-width: 700px) {
  .non {
    display: none;
  }
}

@media (max-width: 700px) {
  .nan {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-form .form-control {
    width: 170px;
  }
}
