body {
  background-color: #f5f5f5 !important;
}

p {
  line-height: 1.8em;
}

.page-header {
  background-color: white;
  border-bottom: 2px solid #d9d19d;
  padding: 1em 0 1em 0;
}

.page {
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.page h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

blockquote {
  color: grey;
  padding: 10px;
  padding-left: 30px;
}

.page img {
  width: 500px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .page img {
    width: 98%;
    display: block;
    margin: 0 auto;
  }
}
