body {
  background-color: #f5f5f5 !important;
}

p {
  line-height: 1.8em;
}

.page-header {
  background-color: white;
  border-bottom: 10px solid #d9d19d;
  padding: 1em 0 1em 0;
}

.page {
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.page h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

blockquote {
  color: grey;
  padding: 10px;
  padding-left: 30px;
}

.page img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

left {
  float: left;
}

right {
  float: right;
}

.page a {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  background-color: grey;
  color: white;
}

.person-info {
  color: gray;
  font-size: 13px;
  margin: 0;
  padding: 3px;
}

.person-info:last-of-type {
  padding-bottom: 20px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .page img {
    width: 98%;
    display: block;
    margin: 0 auto;
  }

  .page a {
    width: 100%;
  }

  p {
    text-align: justify;
    font-size: 1.4rem;
  }

  h1, h2 {
    text-align: left;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.75rem;
  }

  sub {
    font-size: 65%;
  }

  p {
    text-align: justify;
    font-size: 1.2rem;
  }
}

a:active {
  pointer-events: none;
}
