@charset "UTF-8";
/* CSS Document */


body {
  max-width: 800px;
  font-family: 'Lora', serif;
  font-size: 0.9em;
  color: #333;
  position:relative;
  margin:0 auto;
}

h1 {
  font-weight: normal;
  line-height: 1.4em;
  font-size: 2.4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  padding: 20px 0 20px;
}

h3 {
  padding: 20px 0 20px;
  /*margin-left: 10px;*/
}

p {
  margin-bottom: 15px;
  line-height: 1.4em;
  text-align: justify;
}

.breadcrumb {
  font-size: 0.8em;
  margin-top: -40px;
}

a {
  color: blue;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

.padding {
  padding-top: 60px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}

.btn-default{
  background: #0D3555 !important;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  font-family: "Trebuchet MS", "Lucida Sans";
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid #0D3555;
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
  -2px -2px 5px 0 rgba(0,0,0,.1),
  2px 2px 5px 0 rgba(0,0,0,.1),
  -2px 2px 5px 0 rgba(0,0,0,.1);
  letter-spacing: 1px;
}

#header {
  background: #02173b;
  color: #fff;
}

#footer {
  clear: both;
  background: #02173b;
  color: #fff;
  padding: 20px;
}

#footer p {
  margin: 0 0 0 5%;
}

blockquote {
  color: grey;
  padding-top: 25px;
  font-size: 0.8em;
}

blockquote h2 {
  color: grey;
  font-size: 1em;
}

.button {
  font-size: 0.8em;
  padding: 10px;
  margin: 2px;
}

#title {
  font-weight: normal;
  line-height: 1.4em;
  font-size: calc(1.4em+1vw);
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 20px 0;
}

left {
  float: left;
  margin: 5px;
}

a:active {
  pointer-events: none;
}
