* {
  font-family: 'Open Sans', sans-serif;
}

body {
  max-width: 100%;
  margin:0 auto;
  font-family: 'Lora', serif;
}

form {
  margin-bottom: 1em;
}

.adress {
  font-size: calc(12px + 0.3vw);
}

.heig {
  height: 290px;
}

p {
  font-size: 1.1em;
  text-align:Justify;
}


img {
  margin: auto;
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

.buttons {
  margin: 2em 0;
}

.nav {
  padding-left: 3.2rem;
}

.img-container {
   margin: 1em;
}

.footer {
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}

.cont {
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}

.sidebar {
  text-align: left;
  margin-top: 3.5vw;
  /*padding-right: 0px;*/
}

@media screen and (min-width: 800px) {
	right {
	margin: 10px 20px 10px 20px;
	float:right;
	}
  left
  {
    margin: 0px 20px 10px 20px;
  	float: left;
  }
}

.non p {
  text-align: left ! important;
}

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 0px;
    margin-top: 0px;
    pading: 0px;
  }
  .row {
    width: 100%;
  }
}

@media (max-width: 767px)
{
  .heig {
    height: 620px;
  }
  .col-md-9 {
    padding-right: 5px;
  }
  .sidebar {
    margin: 1.3rem;
  }
  p strong {
    font-size: 1rem;
  }
}

input {
  width: 200px;
  margin-bottom: 10px;
}

.declaimer {
  font-size: 0.75rem;
  line-height: 1.1rem;
}

hr {
  display: inline-block;
  width: 100%;
}

a:active a:not(nav-item) {
ï¿¼  pointer-events: none;
}

.text {
  white-space: pre;
}

@media (max-width: 576px) {
  p strong {
    font-size: 0.8rem;
  }
}
