* {
  * margin:0px;
  * padding:0px;
  * border:0px;
  * }

  body
  {
    background-color:#ffffff;
    font-family:arial,helvetica;
  }

  h1 {
    padding:0px 0px 10px 0px;
    font-size:1.80em;
    font-family:arial,helvetica;
    color:#006633;
    font-weight:bold;
  }
  h2 {
    padding:0px 0px 10px 0px;
    font-size:1.40em;
    font-family:arial,helvetica;
    color:#006633;
    font-weight:bold;
  }
  h3 {
    padding:0px 0px 10px 0px;
    font-size:1.40em;
    font-family:arial,helvetica;
    color:#006633;
    font-weight:bold;
  }

  p {
    padding:0px 0px 10px 0px;
    font-size: 15px;
    font-family:arial,helvetica;
    color:#462706;
    line-height:22px;
  }
  a {
    color: black;
    font-family:arial,helvetica;
  }

  a.texted {
    text-align: center;
  }

  a.texted:hover {
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: bold !important;
  }

  ol {
    margin:0 0 15px 25px;
    font-family:arial,helvetica;
  }
  ul {
    margin:0 0 15px 25px;
    font-family:arial,helvetica;
  }
  li {
    font-size:0.80em;
    margin-bottom:8px;
    color:#ffffff;
    font-family:arial,helvetica;
    line-height:20px;
  }

  ::selection {
    color:#000000;
    background-color:#ffffff;
  }
  ::-moz-selection {
    color:#000000;
    background-color:#ffffff;
  }


  @import url(http://fonts.googleapis.com/css?family=Lily+Script+One);
  .navbar-brand {
    font-family: 'Lily Script One', cursive;
    font-size: 30px;
  }

  .navbar {
    padding: 0px;
  }

  body {
    margin-bottom: 150px;
  }

  @media (min-width: 768px) {
    body {
      margin-bottom: 100px;
    }
  }

  h1, h2 {
    font-family: 'Lily Script One', cursive;
  }
  body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:Verdana, Geneva, sans-serif;
  }
  #page {
    width: 60%;
    padding: 20px;
    margin: 20px auto;
    margin-top: 0px;
    background:#fff;
    position:relative;
    text-align: justify;
  }

  .breadcrumb {
    position:absolute;
    top:-20px;
    left:0px;
    font-size:12px;
  }

  .row {
    margin: 0 auto;
  }

  .texted {
    font-size: 15px;
    white-space: nowrap;
    color: white;
  }

  small {
    white-space: nowrap;
    font-size: calc(0.5em + 0.5vw);
  }

  .map {
    padding-top: 20px;
  }

  .padd {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    width: 33%;
  }

  #map {
        height: 400px;
        width: 400px;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
   }

  .menu {
    height: 100%;
    padding: 10px 20px;
    background:#f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
  }
  .menu h2 {
    margin-bottom: 6px;
  }

  .small {
    text-align: justify;
  }

  #head {
    width: 50%;
    height: 60px;
    padding: 200px 0 0px;
    margin: 0 auto;
  }
  a.nav {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:16px;
    display:block;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    filter: dropshadow(color=#666, offx=0, offy=1);
    text-decoration:none;
  }
  a.nav:hover {
    color:#eee;
  }
  a.logo {
    position:relative;
    top:-30px;
  }
  html,
  body,
  div,
  span,
  object,
  iframe,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Bookman Old Style', serif;
    margin: 0;
    padding: 2px;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
  }
  @-moz-document url-prefix("http://") {
    input[type=submit].btn::-moz-focus-inner,
    button.btn::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }
  .half,
  .threequarter {
    margin-left: 3.1914893617021276%;
    float: left;
    min-height: 1px;
  }
  .half:first-child,
  .threequarter:first-child {
    margin-left: 0;
  }
  .half {
    width: 48.40425531914894%;
  }
  .split .half,
  .split .threequarter {
    margin-left: 0;
  }
  .split .half {
    width: 50%;
  }
  .text-centered {
    margin-top: 15px;
  }
  @media only screen and (max-width: 767px) {
    .row .half,
    .row .third,
    .row .quarter,
    .row .fifth,
    .row .sixth,
    .row .twothird,
    .row .twofifth,
    .row .threefifth,
    .row .fourfifth,
    .row .fivesixth,
    .row .threequarter {
      margin: 0 auto;
      margin-top: 15px;
      width: 100%;
    }
    .push-half,
    .push-threequarter,
    .push-quarter,
    .push-third,
    .push-twothird,
    .push-fifth,
    .push-twofifth,
    .push-threefifth,
    .push-fourfifth,
    .push-sixth,
    .push-fivesixth {
      left: 0;
    }
    .row .pull-right {
      float: none;
    }
    .block-two,
    .block-three,
    .block-four,
    .block-five,
    .block-six {
      margin-left: 0;
      margin-bottom: 1.5em;
    }
    .block-two > li,
    .block-three > li,
    .block-four > li,
    .block-five > li,
    .block-six > li {
      float: none;
      margin: 0;
      width: 100%;
    }
    .forms.columnar label {
      float: none;
      text-align: left;
      width: auto;
    }
    .forms.columnar .push,
    .forms.columnar div.descr {
      margin-left: 0;
    }
    .forms .multicolumn li {
      float: none;
      margin-right: 0;
    }
    .forms .multicolumn li.width-50,
    .forms .multicolumn li.width-33 {
      width: 100%;
    }
    .forms.columnar li fieldset,
    .forms.columnar li fieldset section {
      width: 100%;
      padding-left: 0;
      text-align: left;
      position: static;
    }
    .forms fieldset {
      padding: 0;
      padding-top: 1em;
      border: none;
    }
    .forms fieldset legend {
      padding: 0;
    }
  }

  td {
    text-align: left;
  }

  img {
    max-width: 100%;
  }

  .form-group {
    margin-bottom: 0rem;
  }

  img {
    padding: 5px;
    text-align: center;
  }

  #navbar {
    width: 60%;
    margin: 0 auto;
    background-color: #339999;
    padding: 0px;
  }
  #HeaderOuter {
    width:100%;
  }

  .row .centered {
    float: none;
    margin: 0 auto;
    margin-top: 15px;
}

  img .logo {
    max-width: 60%;
    margin: 0 auto;
    padding: 0px;
  }

  div table {
    text-align: center;
    margin: auto;
  }

  td {
    padding: 5px;
  }

  .text {
    font-size: 15px;
    text-align: justify;
  }

  .black {
    color: black;
  }

  a.black:hover {
    color: black;
  }

  @media(max-width: 990px) {
    #page {
      width: 100%;
      margin: 0 auto;
      padding: 0px;

    }
    .menu {
      padding: 0px;
      margin-top: 15px;
    }
    #navbar,
    #HeaderOuter {
      width: 100%;
    }
  }
