.navbar-background {
  border-radius: 0.25rem;
}

.list-group-item {
  color: black;
  word-wrap: normal;
}

.active-item,
.navbar-background,
.list-group-item:hover {
  color: white;
  text-decoration: none;
  background-color: #2c3e50;
}

.jumbotron {
  padding: 1rem;
}

.link {
  margin-bottom: 100px;
  line-height: 1.4em;
  color: #2e608c;
}

.carousel {
  background-color: #222;
  margin-bottom: 20px;
}

.carousel-indicators {
  display: none;
}

.carousel-caption {
  bottom: 10px;
  padding-bottom: 0px;
}

.slide-image img{
  height: 25rem;
  weight: auto;
}
/*
@media (max-width: 1199px) {
  img {
    max-width: 500px;
  }
}

@media (max-width: 991px) {
  img {
    max-width: 430px;
  }
}
*/
@media (max-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  p {
    text-align: justify;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.3rem;
  }

  p {
    text-align: justify;
    font-size: 1rem;
  }
  img {
    width: 100%;
  }
}


.image-left img{
  display: block;
  float: left;
  margin-top: 0.2rem;
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.navbar {
  margin-bottom: 0.25rem;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-rounded {
  border-radius: 1rem;
  margin-bottom: 0.25rem;
}

.img-large-width {
  height: auto;
}
