<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/javascripts/encyclopedia.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/styles/blog.css">
  </head>

  <body>

    {{#if rightcol_title}}
  	<div class="rightcolhidden">
  		<div class="rightcol">
  			<h3>{{ rightcol_title }}</h3>

        {{#if rightcol_image_path}}
  			<img  src="{{ rightcol_image_path }}" class="size">
  			{{/if}}

  			<p>{{ rightcol_text }}</p>

  			{{#if rightcol_list_name}}
  			<h3>{{ rightcol_list_name }}</h3>

  			{{#each rightcol_list_row}}
  		  <ul>
          <li><p><a href="{{ link }}">{{ text }}</a></p></li>
        </ul>
  			{{/each}}
  			{{/if}}
  		</div>
  	</div>
    {{/if}}

    <div class="container_blog">
      {{#if banner_text}}
      <div id="banner"><em>{{ banner_text }}</em></div>
      {{/if}}

      {{#if banner_path}}
      <img  src="{{ banner_path }}" class="size"  width="800"  style="margin-bottom:20px;">
      {{/if}}

      {{#if navbar}}
      <div id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
          <div class="container no-override">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content" id="navbar-collapse">
              <ul class="navbar-nav">
                {{#each navbar}}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link" data-toggle="dropdown">{{ this }}</a>
                </li>
                {{/each}}
              </ul>
            </div>

            <form class="navbar-collapse justify-content-end" role="search">
              <input type="text" class="form-control" placeholder="Search">
            </form>
          </div>
        </nav>
      </div>
      {{/if}}

      {{#if banner_path2}}
      <img src="{{ banner_path2 }}" class="size"  width="800">
      {{/if}}

      <div class="maincol">
        {{{ contents }}}

        {{#if comments}}
        <div class="comments">
          <h2>{{ title_comment }}</h2>

          {{#each comments}}
          <p>{{ comment }}<br>{{ author }}</br></p>
          {{/each}}
        </div>
        {{/if}}

        {{#if rightcol_title}}
        <div class="rightcoltrue" style="padding:10px 10px">
          <h3>{{ rightcol_title }}</h3>

          {{#if rightcol_image_path}}
          <img src="{{ rightcol_image_path }}">
          {{/if}}

          <p>{{{ rightcol_text }}}</p>

          {{#if under_rightcol_text }}
          <p>{{ under_rightcol_text }}</p>
          {{/if}}

          {{#if rightcol_list_name}}
          <h3>{{ rightcol_list_name }}</h3>

          {{#each rightcol_list_row}}
          <ul>
            <li><p><a href="{{ link }}">{{ text }}</a></p></li>
          </ul>
          {{/each}}
          {{/if}}
        </div>
        {{/if}}

        {{#if button}}
        {{#each button}}
        <p class="button">{{ this }}</p>
        {{/each}}
        {{/if}}
      </div>

      {{#if footer}}
      <div class="footer"> {{ footer }}</div>
      {{/if}}

    </div>
  </body>
</html>
