<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../assets/styles/minimalist.css">

</head>
<body>

		{{#if logo-path}}
    <div class="page-header">

      <div class="container">
        <div class="logo">
          <img class="img-fluid" src="{{ logo-path }}">
        </div>
      </div>

    </div>
		{{/if}}

    <div class="container">

      <div class="page" style="text-align: {{ content-align }};">
        {{{ contents }}}

        {{#if video-path}}
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ video-path }}" allowfullscreen>
          </iframe>
        </div>
        {{/if}}

      </div>
    </div>

</body>
</html>
