<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../../assets/styles/organization-website.css"/>
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans' rel='stylesheet' type='text/css'>

  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{{ image-path }}" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nv" id="navbarNav">
      <ul class="navbar-nav">
        {{#each nav}}
        <li class="nav-item">
          <a class="nav-link" href="#">{{ this }}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 container-fluid-sm main">
        {{{ contents }}}

        {{#if image}}
          <div class="images row">
            {{#each image}}
              <div class="col-md-4 col-sm">
                <img src="{{ this }}" class="img-thumbnail">
              </div>
            {{/each}}
          </div>
        {{/if}}

      </div>

      <div class="col-md sidebar">

        {{#if sidetable}}
          <div class="sidetable">
            <h5>{{ label }}</h5>
            <table class="table table-bordered">
              {{#each input}}
                <tr>
                  <td>{{ this }}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        {{/if}}

        {{#if button}}
          <h5>{{ info }}</h5>
          <div class="buttons">
            {{#each button}}
            <p>{{ text }}</p>
              <input class="btn btn-primary btn-block" type="submit" value="{{ btn }}">
            {{/each}}
          </div>
        {{/if}}

        {{#if sideimage}}
          {{#each sideimage}}
              <img class="img-container" src="{{ this }}">
          {{/each}}
        {{/if}}

        {{#if sideform}}
          <div class="sideform">
            <h4>Stay in touch</h4>
            <form>
              <div class="form-row align-items-center">
                <div class="form-group">
                  <label class="sr-only" for="inlineFormInput">Email address</label>
                  <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="inlineFormInputGroup">Zip code</label>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Zip code(optional)">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            <h4>Where else to find us</h4>
            <p>DRD will be exhibiting at the Atlanta IT Fair this weekend! Find us in the Georgia World Congress Centre in downtown Atlanta. <a href="#">https://drd.org/r.a7m6</a></p>
            <span>SEP 29 @ 5:13AM</span>
          </div>
        {{/if}}

      </div>
    </div>

      <ul id="clothing-nav" class="nav nav-pills" role="tablist">
        {{#each info}}
        {{#if @first}}
        <li class="nav-item">
          <a class="nav-link active" href="#{{ @index }}" role="tab"
          data-toggle="tab" aria-expanded="true">
            <div class="text">{{ caption }}</div>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="#{{ @index }}" role="tab"
          data-toggle="tab">
            <div class="text">{{ caption }}</div>
          </a>
        </li>
        {{/if}}
        {{/each}}
    </ul>

    <div id="clothing-nav-content" class="tab-content">
      {{#each info}}
      {{#if @first}}
      <div role="tabpanel" class="tab-pane fade show active" id="{{ @index }}">
        <div class="row">
          <div class="col-12">
            <h2>{{ caption }}</h2>
            <ul class="list-group col">
              {{#each row}}
              <li>{{ text }}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      {{else}}
      <div role="tabpanel" class="tab-pane fade" id="{{ @index }}">
        <div class="row">
          <div class="col-12">
            <h2>{{ caption }}</h2>
            <ul class="list-group col">
              {{#each row}}
              <li>{{ text }}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      {{/if}}
      {{/each}}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted"> {{ title }} &copy;All rights reserved.</span>
    </div>
  </footer>

</body>
</html>
