<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title  }}</title>
    <meta name="description" content="pageMetaDescription" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJGmUs8QuUppinMdM2QCPjWY1wR4jO0AM&callback=initMap">
    </script>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link href="../../assets/styles/placeguide.css" rel="stylesheet">
  </head>
  <body>

    <div class="logo">
      <img src="{{ logo }}" class="img-fluid"/>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">

      <div id="HeaderOuter">

        <div id="navbar">
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content" id="navbar-collapse">
            <ul class="nav navbar-nav" style="width: 100%;">
              {{#each navs}}
              <li class="padd"><a href="{{ link }}" class="texted">{{ text }}</a></li>
              {{/each}}
            </ul>
            <form class="navbar-collapse navbar-form navbar-right justify-content-end" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </form>
          </div>
        </div>

    </nav>

    <div id="page">
      {{#if center}}
      <div style="text-align: center">
      {{else}}
      <div>
        {{/if}}
        {{{ contents }}}
      </div>
      {{#each block}}
      <div class="row">
        {{#if title2}}
        <div class="text-centered half">
        {{else}}
        <div class="text-centered centered half">
        {{/if}}
          <div class="menu">
            <h2>{{ title1 }}</h2>
            {{#if img1}}
              <img src="{{ img1 }}" alt="">
            {{/if}}
            <p class="small" style="text-align: center">
            {{#each her1}}
            {{ this }}<br>
            {{/each}}
            {{#if site1}}
            <a href="{{ site1 }}" class="black">{{ site1 }}</a>
            {{/if}}
            {{#each stars1}}
            <img src="../../assets/images/placeguide-star.png">
            {{/each}}
            </p>
            <hr>
            <p class="text">{{ text1 }}</p>
          </div>
        </div>
        {{#if title2}}
        <div class="text-centered half">
          <div class="menu">
            <h2>{{ title2 }}</h2>
            {{#if img2}}
              <img src="{{ img2 }}" alt="">
            {{/if}}
            <p class="small" style="text-align:center">
            {{#each her2}}
            {{ this }}<br>
            {{/each}}
            {{#if site2}}
            <a href="{{ site2 }}" class="black">{{ site2 }}</a>
            {{/if}}
            {{#each stars2}}
            <img src="../../assets/images/placeguide-star.png">
            {{/each}}
            </p>
            <hr>
            <p class="text">{{ text2 }}</p>
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}
      {{#if contents2}}
      <div class="foot">
        {{{ contents2 }}}
      </div>
      {{/if}}
      {{#if map}}
      <div class="map">
        <div id="map"></div>
      </div>
      {{/if}}
    </div>
  </body>
  <script>
  setTimeout(function initMap() {
    var uluru = {lat: {{ x }}, lng: {{ y }} };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }, 500);
  </script>
</html>
