<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/styles/search_engine.css">
  </head>

  <body>





    <div id="NavOuter">

      <div id="NavInner">
	 <nav class="navbar " role="navigation">
		<img  src="{{ search_logo }}" >
		<form  role="search" style="max-width:200px;">
		<input type="text" class="form-control" placeholder="Search">
		</form>
	</nav>
      </div>
    </div>


    <div id="MainOuter">

      <div id="MainInner">
        <p style="padding:0px 20px"><strong>Showing results for: <em>{{ search }}</em></strong></p>

        {{#each search_result}}
        <div class="Box"><p>
	 <div class="cursor_pointer">
          <a href="#" style="pointer-events: none;">{{add @index 1}}. {{ link }}</a><br/>
 	 </div>
	  <span class="Green" >{{ site }}</span><br/>
            {{ text }}
        </div>
        {{/each}}




      </div>
    </div>


    <div id="FooterOuter">
      <div id="FooterInner">

      </div>
    </div>

  </body>

</html>
